.container{
    width: 1440px;
    height: 3818px;
    background: #fff;
    margin: 0 auto;
}

body{
    background: #000;
}
header{
    height: 100px;
    width: 1380px;
    background: rgb(255, 255, 255);
}

.img-1{
    margin-top: 34px;
    margin-left: 60px;
}
.head{
    display: flex;
    gap: 49px;
}